body, h1, h2, h3, h4, h5, h6, p, li, a, span {
    color: red;
}

p {
    color: blue;
}

.color-class {
    color: purple;
}

#color-id {
    color: green;
}

.color-class > p {
    color: cyan;
}

.color-class span {
    color: yellow;
}

.color-class + span {
    color: pink;
}

.color-class ~ div {
    color: navy;
}
