.inner {
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left:auto
}

.inner__sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    width: 325px;
    padding: 2rem 4rem 2rem 2rem;
    border-right: 1px solid #e7ebe7;
    transition:width .3s ease-in-out
}

.inner__sidebar__lists {
    width:100%
}

.inner__sidebar__dropdown-menu {
    padding:.25rem 0
}

.inner__sidebar__dropdown-menu p {
    color: #900028;
    font-weight:600
}

.inner__sidebar__dropdown-menu ul {
    margin-top: .5rem;
    margin-bottom: 0;
    padding:.5rem .65rem 0
}

.inner__sidebar__dropdown-menu ul li a.active {
    color: #900028 !important;
    font-weight:700
}

.inner__sidebar__dropdown-menu > ul {
    background-color: #e9e9e9;
    border-left: 1px solid #900028;
    padding-bottom:.5rem
}
.inner__sidebar__dropdown-menu > ul li .currentbranch0 {
    color: #333;
    font-weight:700
}

.inner__sidebar__dropdown-menu > ul li .currentbranch0 a {
    color:#333
}

.inner__sidebar__dropdown-menu > ul li ul {
    background-color:#dbdbdb
}

.inner__sidebar__dropdown-menu > ul li ul ul {
    background-color:#e8e8e8
}

.inner__sidebar__dropdown-menu > ul li ul ul ul {
    background-color:#f4f4f4
}

.inner__sidebar__dropdown-menu > ul li ul ul ul ul {
    background-color:#fff
}

.inner__sidebar__dropdown-menu__item {
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: .01rem;
    padding:.25rem 0
}

.inner__sidebar__dropdown-menu__link {
    color:#333 !important
}

.inner__sidebar__dropdown-menu__link:hover {
    color:#727272 !important
}

.inner__sidebar__button {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #e7ebe7;
    padding:0
}

.inner__sidebar__button > span {
    display: block;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1.4;
    letter-spacing: .07rem;
    text-transform: uppercase;
    text-transform:capitalize
}

.btn-primary {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  text-align: center;
  border: 2px solid transparent;
  padding: .7rem 1rem;
  border-radius: 2px;
  text-decoration: none !important;
  background-color: #900028;
  color:#fff !important
}

.btn-primary:hover {
  background-color:#ad0031 !important
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style:none
}
.inner__breadcrumb {
    margin:2rem 0
}

.breadcrumb__item {
    font-weight: 400;
    font-size: .875rem;
    letter-spacing:.01rem
}

.breadcrumb__item + li:before {
    content: "/";
    color: #b0bcb0;
    margin:0 .5rem
}

.general-content h1 {
    font-size: 3.125rem;
    letter-spacing:-.03rem
}
.general-content .body-regular-font {
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 0;
    padding: 0;
    margin-bottom:1.25rem !important
}

.general-content .body-lead-font {
    font-weight: 400;
    font-size: 1.25rem;
    line-height:1.5
}
